.gradient-custom-3 {
	/* fallback for old browsers */
	background: #84fab0;

	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(
		to right,
		rgba(132, 250, 176, 0.5),
		rgba(143, 211, 244, 0.5)
	);

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(
		to right,
		rgba(132, 250, 176, 0.5),
		rgba(143, 211, 244, 0.5)
	);
}
.gradient-custom-4 {
	/* fallback for old browsers */
	background: #84fab0;

	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(
		to right,
		rgba(132, 250, 176, 1),
		rgba(143, 211, 244, 1)
	);

	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(
		to right,
		rgba(132, 250, 176, 1),
		rgba(143, 211, 244, 1)
	);
}
.card-register {
	margin: 5rem;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #32383e;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 0.25rem;
}
