<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp2</title>
    <link rel="stylesheet" href="./new.css">
  </head>
  <body>
    <section>
      <form>
        <h4>Welcome Coach!!!.</h4>
        <label for="msg"> Tell us more about your coaching experiences</label>
        <br />
        <textarea
          name="msg"
          id="msg"
          cols="30"
          rows="10"
          placeholder="Type here"
        ></textarea>
        <br />
        <br>
        <label for="date">Date ready to start:</label>
        <input id="date" type="date" checked />
        <br>
        <br>
        <label for="file">Upload resume</label><label>
            <input id="file" type="file">
        <div>
            <label for="msg">Check the sports you will like to coach</label>
             </div>
             
             <div>
            <label for="radio-basketball">Basketball</label>
            <input type="radio" name="" id="radio-basketball">

            <label for="radio-football">Football</label>
            <input type="radio" name="" id="radio-football">

            <label for="radio-soccer">Soccer</label>
            <input type="radio" name="" id="radio-soccer">

            <label for="radio-volleyball">Volleyball</label>
            <input type="radio" name="" id="radio-volleyball">
        </div>

        </div>
        <label for="msg"> others</label>
        <br />
        <textarea
          name="msg"
          id="msg"
          cols="30"
          rows="10"
          placeholder="list other sports interested in coaching"
        ></textarea>
       <div>
    <button type="submit" className="btn btn-primary">
          Submit
        </button>
        </div>


      </form>
    </section>
  </body>
</html>
